body{ background-color : hsl(0, 0%, 24%);}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#img1{display : block;
	max-width : 100%;
	height : auto;
	border-radius : 50% ;
	margin-left : auto;
	margin-right : auto;
	margin-top : 100px;
	margin-bottom : auto;
	
	
	
}



#img2{display : block;
	border-radius : 25px ;
	margin-left : auto;
	margin-right : auto;
	margin-top : 30px;
	margin-bottom : 30px;
	width : 100%;
	height : auto;
}

h1.sansserif{ font-family : Arial, Helvetica, sans-serif;
			letter-spacing : 3px;
			text-align : center;
			color : white;
			text-decoration : none;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}





/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
#rcorners1 {
    border-radius: 25px;
    background: hsla(9, 90%, 64%, 0.4);
    padding: 30px; 
    width: auto;
    height: auto;    
}
