{% load staticfiles %} 
<!DOCTYPE html>

<head>
	<title>Welcome To My Website</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "css/cssfile.css" %}">

	<div class="topnav" id="myTopnav">
	<a href="/bio/" class="w3-bar-item w3-button">Bio</a>
      <a href="/resume/" class="w3-bar-item w3-button">Resume</a>
      <a href="/writing/" class="w3-bar-item w3-button">Writing</a>
	  <a href="/photography/" class="w3-bar-item w3-button">Photography</a>
	  <a href="/register/" class="w3-bar-item w3-button">Registration</a>
	  <a href="/form/" class="w3-bar-item w3-button">Activity</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
	  
</div>
</head>


<body>
{% block content %}
{% endblock %}
</body>

