{%extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- heroku app : https://byeolbit61.herokuapp.com/ -->

</head>

<body>

</body>



<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


<style>
#img1{display : block;
	border-radius : 50% ;
	margin-left : auto;
	margin-right : auto;
	margin-top : 100px;
	margin-bottom : 50px;

	}
</style>
<img id = "img1"src="https://image.ibb.co/g8fre9/IMG_3902.jpg" alt="jasmine" width="300" height="300">

<style>
p.stylee {color : white;
		font-family: "Open Sans",sans-serif;
		font-family: "Muli";
		font-size: 30px;
		text-align: center;
		margin-top: auto;
		margin-bottom : auto;
		padding-top: 50px;
		padding-right: 30px;
		padding-bottom: 50px;
		padding-left: 80px;}
</style>

<p class="stylee">Hello I'm Jasmine.<br> I was born on 3th March 1999 in Jakarta. <br>
Student of Faculty Computer Science Information System. <br>Live in Kramat Jati, Jakarta, Indonesia. <br>I'm 19 years old. I'm interested in <br>many thing such as Listening music, Travelling, and dancing.</p>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p style="font-size:15px">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>  </p><br> 
</footer>
  
</html>
{%endblock%}