{%extends "base.html"%}
{% load crispy_forms_tags %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	

</head>


<body style="font-size:20px;">
	<form method="POST" action="form/"></form>
	{% crispy form form.helper %}
	<button type="submit" class="button btn-success">Submit</button>
</body>

  
</html>
{% endblock %}