{%extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- heroku app : https://byeolbit61.herokuapp.com/ -->

</head>

<body>

</body>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<div class="w3-row" id="myGrid" style="margin-top:128px; margin-bottom:128px">
  <div class="w3-third">
    <img src="https://image.ibb.co/n0fhK9/img1.png" style="width:100%">
    <img src="https://image.ibb.co/h1S7mp/img2.jpg" style="width:100%">
    <img src="https://image.ibb.co/b9N7mp/img3.jpg" style="width:100%">
    <img src="https://image.ibb.co/g54nmp/img4.jpg" style="width:100%">
    <img src="https://image.ibb.co/hpH1CU/img5.jpg" style="width:100%">
    <img src="https://image.ibb.co/gTkMCU/img6.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="https://image.ibb.co/iMBNK9/img7.jpg" style="width:100%">
    <img src="https://image.ibb.co/dKjjz9/img8.jpg" style="width:100%">
    <img src="https://image.ibb.co/moCnK9/img9.jpg" style="width:100%">
    <img src="https://image.ibb.co/b1ECmp/img10.png" style="width:100%">
    <img src="https://image.ibb.co/gTkMCU/img6.jpg" style="width:100%">
    <img src="https://image.ibb.co/b9N7mp/img3.jpg" style="width:100%">
	<img src="https://image.ibb.co/n0fhK9/img1.png" style="width:100%; height:50%">
	
  </div>

  <div class="w3-third">
    <img src="https://image.ibb.co/n0fhK9/img1.png" style="width:100%">
    <img src="https://image.ibb.co/h1S7mp/img2.jpg" style="width:100%">
    <img src="https://image.ibb.co/b9N7mp/img3.jpg" style="width:100%">
    <img src="https://image.ibb.co/g54nmp/img4.jpg" style="width:100%">
    <img src="https://image.ibb.co/hpH1CU/img5.jpg" style="width:100%">
    <img src="https://image.ibb.co/gTkMCU/img6.jpg" style="width:100%">
  </div>
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p style="font-size:15px">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>  </p><br> 
</footer>
  
{%endblock%}