{%extends "base.html"%}
{%block content%} 
<!DOCTYPE html>
<html>
<body>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- heroku app : https://byeolbit61.herokuapp.com/ -->


</head>

<body>

</body>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<h2 style="margin-top:50px; color:white"><b>Registration<b></h2>

<style>
input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border : none;
	border-bottom: 2px solid lightblue;
}
</style>
<form style="color:white">
  Name :<br>
  <input type="text" name="name" placeholder="Name">
  <br>
  Birth Date :<br>
  <input type="date" name="birthdate">
  <br>
  Email :<br>
  <input type="text" name="email" placeholder="Email">
  <br>
  
	User name:<br>
	<input type="text" name="userid" placeholder="User Name">
	<br>
	<form class="pure-form">
    
	User password:<br>
	<input type="password" placeholder="Password" id="password" required>
	<br>
	Password confirm : <br>
	<input type="password" placeholder="Confirm Password" id="confirm_password" required>
	<br>
	<button type="submit" value="Submit">Submit</button>
	
	</form>
	</form>
	
	
</form>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p style="font-size:15px">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>  </p><br> 
</footer>
  

</body>
</html>
{%endblock%}