{%extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- heroku app : https://byeolbit61.herokuapp.com/ -->


</head>

<body>

</body>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


		<div class="w3-container">
		<h2 class="w3-text-white w3-padding-16" style="margin-top:100px"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Profile</h2>
		
          
		<p style="font-size: 26px;color:white;">Jasmine Nur Ariij was born in Jakarta on March 3, 1999.<br>
		Student of the Faculty of Computer Science, University of Indonesia Information Systems Department in 2017.
		<br>Residing in East Jakarta, Kramat Jati.</p><hr>
		
		
    
      
		
		<h2 class="w3-text-white w3-padding-16" style="font-size: 26px;color:white;"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skill</h2>
		<div class="w3-container">
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Make Up</li></b></h5>
		  <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Swimming</li><b></h5>
		  <hr>
		 </div>

		<h2 class="w3-text-white w3-padding-16" style="font-size: 26px;color:white;"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Hobby</h2>
		<div class="w3-container">
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Travelling</li></b></h5>
		  <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Writing</li><b></h5>
		  <hr>
		</div>

		<h2 class="w3-text-white w3-padding-16" style="font-size: 26px;color:white;"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Committee</h2>
		<div class="w3-container">
		<h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Consumption Staff of OKK UI 2018</li></b></h5>
		  <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b><li>Consumption Staff of IMPACT Paskibra</li><b></h5>
		  <hr>
		</div>

<!--right colomn-->


		<h2 class="w3-text-white w3-padding-16" style="font-size: 26px;color:white;"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal" ></i>Education</h2>
        
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b>SDS Kartika VIII-2</b></h5>
          <h6 class="w3-text-teal" style="font-size: 20px;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2005 - 2011</h6>
          
          <hr>
        
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b>SMPI PB Soedirman</b></h5>
          <h6 class="w3-text-teal" style="font-size: 20px;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2014</h6>
          
          <hr>
       
        
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b>SMAN 39 Jakarta</b></h5>
          <h6 class="w3-text-teal" style="font-size: 20px;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2017</h6> 
			<hr>
		
          <h5 class="w3-opacity" style="font-size: 20px;color:white;"><b>Universitas Indonesia</b></h5>
          <h6 class="w3-text-teal" style="font-size: 20px;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - now</h6>
		  
		  <hr>
		</div>
		
	
</body>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p style="font-size:15px">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>  </p><br> 
</footer>
  
{%endblock%}