{%extends "base.html"%}
{%block content%}
<!DOCTYPE html> 
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- heroku app : https://byeolbit61.herokuapp.com/ -->



</head>

<body>

</body>




<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<style>

p.sansserif{ font-family : Arial, Helvetica, sans-serif;
			letter-spacing : 3px;
			text-align : center;
			color : white
			}
</style> 

<style>
h1.title {
    font-family: "Open Sans",sans-serif;
    font-size: 39px;
    font-weight: 400;
    font-family: "Muli";
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: white;
    margin-top : 100px;
	margin-bottom : 50px;
    text-align: center;
}
</style>

<style>
p.outset {
		color : white;
        background-color :hsla(9, 90%, 64%, 0.4);
		font-family: "Open Sans",sans-serif;
		font-family: "Muli";
		font-size: 26px;
		text-align: center;
		margin-top: auto;
		margin-bottom : auto;
		padding-top: 50px;
		padding-right: 30px;
		padding-bottom: 50px;
		padding-left: 80px;}
</style>

<style> 
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
</style>


<style>input[type=submit]{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;}
</style>
<h1 class ="title">Lorem ipsum dolor sit amet</h1>
<p class="outset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.<br>
	  <br>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.<br>
	  <br>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</p>
	  
<p><strong>Comment :</strong></p>

<form>
  <textarea> </textarea>
</form>

<input type="submit" value="Submit">

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p style="font-size:15px">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>  </p><br> 
</footer>
  
<html>
{%endblock%}